# Supabase do projeto Tablet Comercial
NEXT_PUBLIC_SUPABASE_URL=https://sbsjiiquxesyjtskjuyw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNic2ppaXF1eGVzeWp0c2tqdXl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3NjMxMDUsImV4cCI6MjEwMjMzOTEwNX0.n6cPyZBsuIh3vCWJTSbppFODJ8uXSBM-8XMklhgarA4
